<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692736075102-jt2one6mnoc7fdaa7nheueorgnagh465.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692736075102-jt2one6mnoc7fdaa7nheueorgnagh465</string>
	<key>API_KEY</key>
	<string>AIzaSyA9T8hZC--RF88Nkkt-wEsKn1WALc7qUPU</string>
	<key>GCM_SENDER_ID</key>
	<string>692736075102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.points</string>
	<key>PROJECT_ID</key>
	<string>points-4bc32</string>
	<key>STORAGE_BUCKET</key>
	<string>points-4bc32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692736075102:ios:4f3f3dd5f68c9128101bcf</string>
</dict>
</plist>